:root {
  width: 100%;
  height: 100%;
}

body {
  @extend %flex-box-props;
  width: 99%;
  height: 99%;
  background: $container-bg-color;
  
  #container {
    @extend %flex-box-props;
    flex-direction: column;
    width: 99%;
    height: 99%;
  }
}
