{% extends 'base.html' %} {% block title %} edit page {% endblock %} {% block
body %}
<div class="wrapper-main">
  <div class="settings-container">
    <form action="/edit/{{ to_be_edited.id }}" method="POST" name="main_form">
      {{ to_do_form.name(placeholder=to_be_edited.task) }} <br />
      <input class="submit-todo-edit btn btn-primary" type="submit" value="SUBMIT" />
    </form>
  </div>
</div>

<style>
  .submit-todo-edit {
    width: 150px;
    align-self: center;
  }
</style>

{% endblock %}
