{% extends 'base.html' %} {% block title %} index page {% endblock %} {% block
body %}

<h1>TO DO LIST</h1>
{% for to_do in to_dos %}
<div class="bg-dark index-container">
  <p class="text-primary">{{ to_do }}</p>
  <a class="btn btn-primary" href="/edit/{{ to_do.id }}">EDIT</a>
  <a class="btn btn-danger" href="/delete/{{ to_do.id }}">DELETE</a> <br />
</div>
{% endfor %}

<style>
  .index-container {
    padding-left: 10px;
    font-size: 1.3rem;
    padding-bottom: 10px;
  }
</style>
{% endblock %}
